@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{ /* Todo o documento */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body { /* Todo o CORPO do documento */
    min-height: 100vh;
    /*background: url(./imagens/pexels-francesco-ungaro-673648.jpg)no-repeat;*/
    background-size: cover;
    background-position: center;
}

.logo {
    width: 100%;
    margin: auto;
    display: inline-flex; /* colocar o logo e a lista um do lado do outro */
    justify-content:space-between;
    background: rgb(252, 103, 4);
    background: linear-gradient(90deg, rgb(240, 102, 11) 0%, rgb(231, 114, 30) 35%, rgba(255, 94, 0, 0.74) 100%);
    color: aliceblue;
    align-items: center;
}


.logo-menu {
    margin: auto;
    text-align:center;
}

.logo1 a img{
    width: 100px;
    height: 100px;
}
.side-bar{ /* Caixa desfocada que gera o formato do menu */
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
}

.side-bar.active{ 
    left: 0;
}

.side-bar .menu { /* Ajuste de tamanho dos componentes do menu */
    width: 100%;
    margin-top: 80px;
}

.side-bar .menu .item{ /**/
    position: relative;
    cursor: pointer;
}

.side-bar .menu .item a{ /* Ajuste dos componentes do menu */
    color: rgb(0, 0, 0); /*Cor da letra*/
    font-size: 16px; /* Tamanho da fonte*/
    text-decoration: none; /*Sem sublinhado */
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.side-bar .menu .item a:hover{ /*Quando o mouse passar em cima dos componentes, uma sombra na cor escolhida será mostrada. Digamos que é como se estivessemos selecionado os items.*/
    background: hsl(34, 100%, 72%);
    transition: 0.3s ease;
}

.side-bar .menu .item i{
    margin-right: 15px; /*Espaçamentos dos ícones do menu, afastando dos títulos.*/
}

.side-bar .menu .item a .dropdown{ /* Aqui foi configurado a seta do sub-menu, afastando ela para o canto do retângulo.*/
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{ /* Criamos a nova caixa do sub-menu, colocamos uma cor mais clara, mas ainda desfocada. */
    background: rgba(255, 255, 255, 0.2);
    display: none;
}

.side-bar .menu .item .sub-menu a{ /* Centralização do sub-menu */
    padding-left: 80px;
}

.rotate{ /* Rotacionando a seta ao ser clicada*/
    transform: rotate(90deg);
}

.side-bar .menu .item .sub-menu .sub-sub-menu{ /* Criamos a nova caixa do sub-sub-menu, colocamos uma cor mais clara, mas ainda desfocada. */
    background: rgba(255, 255, 255, 0.1);
    display: none;
}

.side-bar .menu .item .sub-menu .sub-sub-menu a{ /* Colocando o conteúdo do sub-sub-menu mais para esquerda */
    padding-left: 100px;
}

.close-btn{
    position: absolute;
    color: rgb(250, 250, 250);
    font-size: 20px;
    right: 0;
    margin: 25px;
    cursor: pointer;
}

.menu-btn i{
    color: rgb(252, 252, 252);
    font-size: 40px;
    margin: 25px;
    cursor: pointer;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.main h1{
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    line-height: 80px;
}

@media (max-width: 768px){
    .main h1{
        font-size: 40px;
        line-height: 60px;
    }
    #contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: center;
    }

    #contact{
        width: 60%;
    }
}

/*FOOTER*/

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#contact-section{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url(./imagens/contact.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
}

#contact-section .container h2{
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    color: rgb(238,235,235);
    letter-spacing: 2px;
}

#contact-section .container p{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    color: #fff;
    letter-spacing: 3px;
}

.contact-form i.fa{
    font-size: 22px;
    padding: 3%;
    background-color: none;
    margin: 2%;
    border-radius: 80%;
    cursor: pointer;
    border:2px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}

.contact-form i.fa:hover{
    cursor: pointer;
    border: 2px solid #fff;
    color: #fff;
}

.contact-form{
    display: grid;
    grid-template-columns: auto auto;
    /*grid-gap: 5px;*/
}

.form-info{
    font-size: 16px;
    font-style: italic;
    color: #fff;
    letter-spacing: 2px;
}

input{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136, 133, 133, 0.5);
    color: #fff;
    border: none;
    outline: none;
}

input::placeholder{
    color: #fff;
}

textarea{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136, 133, 133, 0.5);
    color: #fff;
    border: none;
    outline: none;
}

textarea::placeholder{
    color: #fff;
}

.submit{
    width: 40%;
    background: none;
    padding: 4px;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    margin-left: 2%;
    border: 2px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}

.submit:hover{
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

.slider-principal {
    height: 454px;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/anterior.png');
    top: 36%;
    left: 14%;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/proximo.png');
    top: 36%;
    right: 14%;
}

.slick-list {
    width: 100%!important;
}

.slick-dots li button {
    font-size: 0px;
    border: 2px solid #ffffff;
    width: 16px;
    height: 16px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 93%;
    
}

li.slick-active button {
    background-color: #00bac6;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}

.slick-initialized {
    overflow: hidden;
}